.App {
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  background: black;
  height: 100vh;
}

.box {
  margin: auto;
  width: 200px;
  height: 200px;
  border: 20px solid;
  transform: rotate(45deg);
  border-top-color: rgb(246, 79, 49);
  border-bottom-color: rgb(6, 164, 255);
  border-left-color: rgb(99, 241, 179);
  border-right-color: rgb(243, 239, 238);
  position: relative;
}

.text {
  transform: rotate(-45deg);
  position: relative;
  top: 50px;
  color: white;
  font-size: 30px;
}

.and {
  color: rgb(243, 77, 48);
}
.sub-heading {
  font-size: 12px;
  display: block;
}

.edge {
  position: absolute;
  width: 20px;
  height: 20px;
  background: yellow;
}

.one {
  top: -20px;
  left: -20px;
  background: brown;
}

.two {
  top: -20px;
  right: -20px;
  background: brown;
}

.three {
  bottom: -20px;
  left: -20px;
  background: rgb(14, 174, 183);
}

.four {
  bottom: -20px;
  right: -20px;
  background: rgb(31, 112, 225);
}
